.acrostic-background-div {
    /* background-image: url("https://images.ktestone.com/Acrostic/Acrostic-background.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 100%; */
}


.acrostic-background-img {
    z-index: -1;
    width:100%;
    position: fixed;
    left: 50%;
    top: 0; 
    transform: translateX(-50%);
    max-width:768px;
}

.acrostic-form {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    top: 10rem;
}

.acrostic-form-input {
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    top: 2rem;
    width: 20rem;
    height: 12rem;
    font-size: 1.2rem;
    /* word-wrap: break-word; */
    white-space: pre-wrap;
}

.acrostic-form-button {
    width: 10rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 17rem;
    color: black;
}

.acrostic-form-p {
    margin: 32rem 0 5rem;
    color: lightgrey;
}

.acrostic-button-container {
    width: 90%;
    max-width: 691.2px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 27rem;
}

.acrostic-share-img, .acrostic-reDo-img {
    width: 100%;
}

.acrostic-loading-div {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 17rem;
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .acrostic-form {
        top: 23rem;
    }

    .acrostic-form-input {
        width: 30rem;
        height: 20rem;
        font-size: 1.5rem;
    }

    .acrostic-form-button {
        top: 30rem;
        width: 20rem;
    }

    .acrostic-form-p {
        margin-top: 63rem;
    }

    .acrostic-button-container {
        top: 53rem;
    }
}