* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  a,
  a:visited,
  a:hover,
  a:active {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navMenu {
    position: fixed;
    top: 0;
    border-bottom: solid 1px #e8e8e8;
    overflow-y: hidden;
    transition: top 0.4s;
    box-shadow: 0 0 30px #f3f1f1;
    background-color: white;
    z-index: 5;
    width: 100%;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
  }
  
  .nav-logo {
    margin: 0 auto;
    height: 3.5rem;
  }
  
  .menu__container a {
    padding: 0.5rem 1rem;
  }