/* INTRO */
.introMainDiv,
.resultMainDiv {
  position: relative;
}

.introInputDiv,
.resultNameInputDiv {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}

.introInput {
  border: none;
  width: 80%;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.ant-zoom-big-fast {
  display: none !important;
}

/* RESULT */

.resultNameInput {
  font-weight: bold;
  font-style: normal;
}

/* Extra small devices (phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .introInputDiv {
    bottom: 27%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .introInputDiv {
    bottom: 24%;
  }
  .introInput {
    font-size: 2rem;
    width: 12rem;
  }
}
