/* ColorPicker */
.difficulty-button {
    margin: 0 1rem;
}

/* ColorPicking */
.colorpicker-div {
    background-color: pink;
    width: 100%;
}

/* PickerRenderer */
.picker-header {
    padding-top: 3rem;
}
.picker-background {
    background-color: white;
    width: 80%;
    max-width: 35rem;
    margin: 0 auto 3rem;
}

.picker-row {
    display: flex;
    flex-direction: row;
}

.picker-col {
    border:none;
    box-shadow:none;
    border-radius:0;
    padding:0;
    overflow:visible;
    cursor:pointer;
    width: 50%;
    height: 5rem;
    align-content: center;
    margin: 0.5rem;
    color: white;
    font-weight: bold;
}

.picker-progress-text {
    font-weight: bold;
}

.picker-progress {
    width: 80%;
    max-width: 35rem;
    margin-bottom: 3rem;
}

.start-countdown-div {
    padding: 15rem 0;
}

.start-countdown-p {
    font-size: 4rem;
    font-weight: bold;
    color: white;
}

/* ColorPickerResult */
.picker-result-info-div {
    width: 90%;
    max-width: 30rem;
    margin: 2rem auto 0rem;
}

.picker-result-info-title {
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}

.picker-result-info-highlight {
    font-size: 2.5rem;
    color: #FF71BC;
}

.picker-result-go-home-button {
    color: white;
    font-weight: bold;
    border: none;
    background-color: #E62383;
    border-radius: 1rem;
    height: 4rem;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    margin: 2rem auto;
}

/* TIER TABLE in result page */
.tier-table-div {
    /* background-color: yellow; */
}

.tier-table-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.tier-table-highlight {
    font-weight: bold;
}