.mbtiImgGen-intro-div, .mbtiImgGen-guide-div, .mbtiImgGen-email-div, .mbtiImgGen-email-logo-div {
    position: relative;
}

.mbtiImgGen-intro, .mbtiImgGen-guide, .mbtiImgGen-upload, .mbtiImgGen-email, .mbtiImgGen-complete {
    width: 100%;
    max-width: 33rem;
    margin: 0 auto;
}

.mbtiImgGen-intro-btn-div, .mbtiImgGen-guide-btn-div, .mbtiImgGen-upload-btn-div, .mbtiImgGen-email-btn-div {
    cursor: pointer;
}

.mbtiImgGen-intro-btn, .mbtiImgGen-guide-btn, .mbtiImgGen-email-logo, .mbtiImgGen-email-btn {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    width: 22rem;
}

.mbtiImgGen-intro-biz-info-p {
    width: 80%;
    margin: 3rem auto 0;
    font-size: 0.8rem;
    color: grey;
}

.mbtiImgGen-upload-upper-banner, .mbtiImgGen-upload-btn {
    width: 100%;
    max-width: 30rem;
}

.mbtiImgGen-complete-btn {
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
    display: block;
}

.mbtiImgGen-guide-btn {
    bottom: 5%;
}

.mbtiImgGen-email-logo {
    top: 1%;
    width: 100%;
    max-width: 30rem;
}

.mbtiImgGen-email-btn {
    bottom: 17%;
}

.uploadPicturesWrapper {
    overflow-y: scroll;
    height: 10rem;
}