.mbtiImgGen-intro-div, .mbtiImgGen-guide-div, .mbtiImgGen-email-div {
    position: relative;
}

.mbtiImgGen-intro, .mbtiImgGen-guide, .mbtiImgGen-upload, .mbtiImgGen-email, .mbtiImgGen-complete {
    width: 100%;
    max-width: 33rem;
    margin: 0 auto;
}

.mbtiImgGen-intro-btn-div, .mbtiImgGen-guide-btn-div, .mbtiImgGen-upload-btn-div, .mbtiImgGen-email-btn-div {
    cursor: pointer;
}

.mbtiImgGen-upload-btn-div {
    margin: 0.5rem auto;
}

.mbtiImgGen-intro-btn, .mbtiImgGen-guide-btn {
    position: absolute;
    left: 50%;
    bottom: 1.5%;
    transform: translateX(-50%);
    width: 22rem;
}

.mbtiImgGen-intro-biz-info-p {
    width: 80%;
    margin: 1rem auto;
    font-size: 0.8rem;
    color: grey;
}

.ant-radio-button-wrapper-checked, .ant-radio-button-checked {
    background-color: #E9277D;
    border-color: #E9277D;
}

.ant-radio-button-wrapper {
    width: 5rem;
}

.mbtiImgGen-upload-upper-banner, .mbtiImgGen-upload-btn {
    width: 100%;
    max-width: 30rem;
}

.mbtiImgGen-complete-btn {
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
    display: block;
}

.mbtiImgGen-guide-btn {
    bottom: 5%;
}

.mbtiImgGen-email-logo {
    width: 100%;
    max-width: 30rem;
}

.mbtiImgGen-email-input {
    width: 25rem;
    max-width: 20rem;
    height: 2.5rem;
    border: 2px solid black ;
    border-radius: 1rem;
    margin: 1.5rem auto;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

.mbtiImgGen-email-input::placeholder {
    text-align: center;
}

.mbtiImgGen-email-submit-button, .mbtiImgGen-email-purchase-button {
    display: block;
    background-color: #E9277D;
    color: white;
    border: none;
    border-radius: 1rem;
    width: 8.5rem;
    margin: 0 auto 2rem;
    height: 2.2rem;
    cursor: pointer;
}

.mbtiImgGen-email-comment-p, .mbtiImgGen-payment-comment-p {
    color: #E9277D;
    font-size: small;
    font-weight: bold;
}

.mbtiImgGen-payment-comment-p {
    width: 20rem;
    margin: 0.5rem auto;
}

.uploadPicturesWrapper {
    overflow-y: scroll;
    height: 40rem;
}