.downloadButton {
  background-color: #e62182;
  color: white;
  margin: 0 auto 1rem;
  height: 2.5rem;
  font-weight: bold;
}

.downloadComment {
  width: 80%;
  margin: 1rem auto 0;
  word-break: keep-all;
}

.modalCloseButton {
  color: #e62182;
  font-size: 1.2rem;
  font-weight: bold;
  position: sticky;
  right: 0;
  top: 0;
  width: max-content;
  margin-left: auto;
  cursor: pointer;
}

.modalTopAlertDiv {
  background-color: rgba(230, 33, 130, 0.7);
  padding: 1.5rem;
  color: white;
  border-radius: 1rem;
  word-break: keep-all;
}

.modalTutorialDiv {
  background-color: rgb(255, 215, 0, 0.7);
  border-radius: 1rem;
  padding: 2rem;
}

.modalFooter {
  width: 90%;
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem;
}

.modalOkButton {
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: #e62182;
  border: none;
  border-radius: 0.5rem;
  width: 5.5rem;
  height: 2.5rem;
  cursor: pointer;
  margin-top: 1.5rem;
}

.appstoreLink,
.appstoreLink:visited,
appstoreLink:hover,
appstoreLink:active,
appstoreLink:focus {
  color: black;
  text-decoration: none;
}
