@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Do+Hyeon&display=swap");
:root {
  --bg-color: #fbf7f2;
  --font-color: black;
  --title-font: "Do Hyeon", sans-serif;
  --content-font: "Nanum Gothic", sans-serif;
}
body {
  height: 100%;
  display: block;
  /* position: -webkit-sticky; */
  background-color: var(--bg-color);
  text-align: center;
  justify-content: center;
}

/* main start */

.main-link-div {
  margin: auto 1rem;
}

.main-link-block {
  display: inline-block;
  margin: auto 1rem;
}

.main-card {
  margin: 2rem auto;
  width: 150px;
  height: 240px;
  color: var(--bg-color);
  border-radius: 7%;
  background-color: #c17675;
  font-family: var(--title-font);
}

.test-img {
  margin: 2rem auto;
  height: 100px;
}

/* intro start */

img {
  height: 2rem;
  width: 2rem;
  margin: 2rem auto;
}
.intro {
  margin: 2.5rem auto;
}

.logo-img {
  float: center;
  height: 5.5rem;
  width: 5rem;
}

.title {
  color: var(--font-color);
  font-family: var(--title-font);
}

.sub-title {
  color: var(--font-color);
  font-family: var(--title-font);
}

.btn-positioner {
  margin: 7rem;
  display: block;
}

.start-btn-div {
  display: flex;
  justify-content: center;
  margin: 2rem;
  font-family: var(--title-font);
}
.start-btn {
  height: 3.5em;
  width: 20rem;
}

.start-btn-participants {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-family: var(--title-font);
}

.intro-footer {
  margin: 6rem auto;
  font-family: var(--title-font);
  color: #cecfd0;
}

/* question & answer start */

.question {
  margin: 3rem 3rem 2rem 3rem;
  color: var(--font-color);
  font-family: var(--title-font);
}

.question-p {
  /* white space for line break */
  white-space: pre-line;
}

.option-btn-div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option-btn:focus,
.option-btn:active,
.option-btn:visited {
  outline: none;
  outline-offset: none;
  box-shadow: none;
  background-color: var(--bg-color);
  color: var(--font-color);
}

/* unselect clicked btn */
.btn-outline-dark:hover {
  color: var(--font-color);
  background-color: var(--bg-color);
}

.option-btn {
  font-family: var(--content-font);
  font-weight: bolder;
  font-size: 0.8rem;
  height: 9em;
  width: 20rem;
  margin: 0.5em;
  word-break: keep-all;
  white-space: pre-line;
  /* background-color: #c17675; */
  /* color: var(--font-color); */
  /* border-color: #c17675; */
}

.question-progress {
  margin: 3rem 5rem;
  position: relative;
  display: block;
}

.progress-bar {
  height: 4px;
}

.question-count {
  margin-top: 1rem;
  color: var(--font-color);
  font-size: 1.3rem;
  font-family: var(--title-font);
}

/* loading start */

.loading {
  margin-top: 12rem;
}

.loading-upper {
  /* for strange number display, color change */
  color: var(--bg-color);
}

/* result start */
.result {
  max-width: 100%;
  margin: 3rem 1rem 1rem 1rem;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-value {
  margin: 1rem 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-break: normal;
}

.result-card {
  width: 20rem;
}

.result-title {
  font-family: var(--title-font);
}

.result-p {
  text-align: left;
  font-family: var(--content-font);
  white-space: pre-line;
  word-break: keep-all;
  font-size: 0.9rem;
  margin: 1.5rem auto;
}

.result-header {
  margin: 5rem auto;
  font-family: var(--title-font);
  margin: 1rem 0.5rem;
  color: var(--font-color);
}

.result-logo-image {
  height: 2rem;
  width: 2rem;
  margin: 1rem auto;
}

.result-img {
  height: auto;
  width: 18rem;
  margin: 1rem auto 0rem;
  font-family: var(--title-font);
  color: var(--font-color);
}

.share-title {
  font-family: var(--title-font);
  margin: 0rem 1.5rem 1.5rem 1.5rem;
  color: var(--font-color);
}

.share-btn {
  font-family: var(--title-font);
  display: inline;
  margin: 3rem 1rem;
}

.re-test-btn {
  font-family: var(--title-font);
  display: inline;
  margin: 3rem 1rem;
}

.back-to-main {
  font-family: var(--title-font);
  display: inline;
  margin: 3rem 1rem 0rem;
}

/* result guide start */

.guide-desc {
  color: var(--font-color);
  margin: 10rem 5rem 5rem 5rem;
}
